{% extends 'base.html' %}

{% block content %}
  <!-- ABOUT SECTION -->
  <section>
    <video class="object-fit-cover vw-100 vh-100" autoplay loop muted preload="auto">
      <source src="../static/image/bg-video.mp4" />
    </video>

    <div class="hero-text w-100">
      <h1 class="fs-1 fw-bold text-uppercase lh-base h-50 mb-4">
        Welcome to <br />
        <span class="sub-text">KCQZEvents</span>
      </h1>
      <div class="row gap-3">
        <a class="btn my-btn btn-primary col-3 col-sm-1" href="#about">Find out more</a>
        <a class="btn my-btn col-3 col-sm-1" href="#events">See what's on</a>
      </div>
    </div>
  </section>
  <section id="about" class="about-section h-100 bg-dark-subtle">
    <div class="about-section-container text-start">
      <h2 class="text-light lh-base fs-4 text-uppercase mb-4">
        About <br />
        <span class="sub-text fw-bold fs-1">KCQZEvents</span>
      </h2>
      <p class="text-light fs-6 lh-lg">Welcome to our website, the ultimate destination for discovering the latest events in your area! Our website features a user-friendly interface that makes it easy to browse through upcoming events and find the ones that interest you. Once you've found an event that catches your eye, you can use our convenient booking system to secure your tickets quickly. We partner with top event organizers and venues to provide you with access to the best HardStyle events in town. In addition to browsing and booking events, our website also features helpful resources such as event reviews, venue information, and tips for getting the most out of your experience. Whether you're a seasoned event-goer or a first-time attendee, our website is your go-to source for everything you need to know about the latest events in your area.</p>
    </div>
  </section>

  <!-- EVENTS SECTION -->
  <section id="events" class="events-section h-100 bg-dark">
    <div class="events-section-container text-start">
      <h2 class="text-light lh-base fs-4 text-uppercase mb-4">
        Check out <br />
        <span class="sub-text fw-bold fs-1">What's happening</span>
      </h2>
      <!-- boostrap grid usage -->
      <div class="card-container row row-cols-1 row-cols-lg-3 row-cols-md-2 row-cols-sm-1 gy-4 gx-5">
        <!-- bootstrap card components customised -->
        
        {% for event in events %}
        <div class="col">
          <div class="card">
            <div class="position-relative">
              <!-- bootstrap alert button customised to serve as event status indicator -->
              <button type="button" class="btn btn-success position-absolute end-75 rounded-pill" disabled>
                Open
                <span class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-success p-1"><span class="visually-hidden">open</span></span>
              </button>
              <img src={{event.image}} class="object-fit-cover card-img" alt="karnival event" title="karnival event" />
            </div>

            <div class="card-body">
              <div class="card-heading d-flex flex-row justify-content-between align-items-center mb-2">
                <h5 class="card-title">{{event.eventTitle}}</h5>
                <h6 class="card-date">{{event.date}}</h6>
              </div>
              <p class="card-text lh-base fs-6 mb-4">{{event.description}}</p>
              <a href="{{url_for('events.show', id=event.id)}}" class="btn btn-primary">Find out more</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <!-- CONTACT SECTION -->
  <section id="contact-section" class="contact-section h-100 bg-dark-subtle">
    <div class="contact-section-container">
      <h2 class="text-light lh-base fs-4 text-uppercase mb-4">
        Contact <br />
        <span class="sub-text fw-bold fs-1">Us directly</span>
      </h2>
      <form action="" method="" class="contact-form bg-dark">
        <label for="name" class="mb-2">Name</label>
        <input type="text" id="name" name="name" placeholder="Enter Your Name" required />

        <label for="email" class="mb-2">Email</label>
        <input type="email" id="email" name="email" placeholder="Enter Your Email" required />

        <label for="phone" class="mb-2">Phone</label>
        <input type="tel" id="phone" name="phone" placeholder="Enter Your Phone Number" required />

        <label for="message" class="mb-2">Message</label>
        <textarea id="message" name="message" placeholder="Enter Your Message" required></textarea>

        <!-- prevent page reload -->
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </section>
{% endblock %}
