{% extends 'base.html' %}
{% import 'bootstrap4/form.html' as wtf %}

{% block content %}
  <body>
    <!-- <section class="header"> -->
    <!-- header section containing nav -->
    <header id="home-landing" class="m-0">
      <!-- bootstrap navbar customised -->
      <!-- the navbar is intentionally left to not collapse on smaller screens design decision made to avoid use of unnecessary js and using elements like input to achieve this would be semantically incorrect. Instead I just wrap the nav links as the screen gets smaller. -->
      <nav class="navbar navbar-expand-lg bg-dark fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="../static/image/logo-kcqze.png" alt="logo" loading="lazy" width="100" height="35" /></a>
          <div class="justify-content-end" id="navbarNav">
            <ul class="navbar-nav d-flex flex-row flex-wrap justify-content-center">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html">Home</a>
              </li>
              <!--                                                                                                                <li class="nav-item">
                <a class="nav-link" href="event-details.html">Events</a>
              </li>                                                                                                                -->
              <li class="nav-item">
                <a class="nav-link" href="booking-history.html">Bookings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('events.create') }}">Create</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="filling">
      <div class="form-box login">
        <form action="#">
          <h2>Login</h2>

          <div class="input-box">
            <span class="icon"><ion-icon name="mail"></ion-icon></span>
            <input type="Email Address" required />
            <label>Email<Address></Address></label>
          </div>
          <div class="input-box">
            <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
            <input type="Password" required />
            <label>Password</label>
          </div>
          <div class="remember-forgot">
            <label><input type="checkbox" />Remember me</label>
            <a href="#"><b>Forgot Password?</b></a>
          </div>
          <button type="submit" class="btn">Login</button>
          <div class="login-register">
            <p>
              Not a member yet?<a href="#" class="register-link"><b>Register</b></a>
            </p>
          </div>
        </form>
      </div>

      <!-- Registeration html -->
      <div class="form-box register">
        <form action="#">
          <h2>Registeration</h2>
          <div class="input-box">
            <span class="icon"><ion-icon name="person-circle"></ion-icon></span>
            <input type="" required />
            <label>Username<Address></Address></label>
          </div>

          <div class="input-box">
            <span class="icon"><ion-icon name="mail"></ion-icon></span>
            <input type="Username" required />
            <label>Email<Address></Address></label>
          </div>
          <div class="input-box">
            <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
            <input type="Password" required />
            <label>Password</label>
          </div>
          <div class="remember-forgot">
            <label><input type="checkbox" required />I agree to terms and conditions</label>
          </div>
          <button type="submit" class="btn">Register</button>
          <div class="login-register">
            <p>
              Already a member?<a href="#" class="login-link"><b>Login</b></a>
            </p>
          </div>
        </form>
      </div>
    </main>
{% endblock %}
