{% extends 'base.html' %}
{% import 'bootstrap4/form.html' as wtf %}

{% block content %}
<div id="log_bod">
  <main class="filling">
    <div class="form-box login">
      {% with messages = get_flashed_messages() %}
      {% if messages %} <!-- check if there are any messages -->
      <div class="container-fluid">
        <div class="row mt-3 mb-3">
          <div class="col-md-12">
            {% for message in messages %} 
            <div class="alert alert-info">{{ message }}</div> <!--display as alert-->
      
            {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}
      {% endwith %}
      <h2>{{heading}}</h2>

      <form action="{{url_for('auth.login')}}" , method="POST">

        {{ form.csrf_token }}
        <div class="input-box">
          <span class="icon"><ion-icon name="mail"></ion-icon></span>
          <div>{{ form.user_name.label() }} {{ form.user_name(id="pluto2") }}</div>
        </div>
        <div class="input-box">
          <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
          <div>{{ form.password.label() }} {{ form.password(id="pluto2") }}</div>
        </div>
        <div class="remember-forgot">
          <!-- <label><input type="checkbox" />Remember me</label> -->
          <!-- <a href="#"><b>Forgot Password?</b></a> -->
        </div>
        {{ form.submit(class="btn") }}
        <div class="login-register">
          <p>
            Not a member yet?<a href="{{ url_for('auth.register') }}" class="register-link"><b>Register</b></a>
          </p>
        </div>
      </form>
    </div>
  </main>
  <script src="../static/java/script.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</div>
{% endblock %}