{% extends 'base.html' %}

{% import 'bootstrap4/form.html' as wtf %}

{% block content %}
<main>
  <div class="event-details-page-container g-4 bg-dark-subtle py-5">
    <h1 class="fs-1 fw-bold text-uppercase lh-base pt-5 pb-4">
      About
      <br />
      <span class="sub-text">The Event</span>
    </h1>

    <div class="event-details-container bg-dark text-white py-5 px-4">
      <!-- bootstrap grid usage -->
      <div class="row">
        <div class="col-xl-6 col-lg-12 mb-4 justify-content-evenly">
          <img src="{{ event.image }}" alt="Event Image" title="Event Image" class="img-fluid w-100 mb-3 rounded object-fit-fill object-fit-top" />
        </div>

        <div class="col-xl-6 col-lg-12 d-flex flex-column justify-content-evenly lh-lg mb-4">
          <h2 class="fs-1 fw-bold">{{ event.eventTitle }}</h2>
          <p class="mb-3">
            {{ event.description }}
          </p>
          <p class="mb-3">
            <span class="fw-semibold">Artists Performing:</span> {{ event.artistName }}
          </p>
          <p class="mb-3">
            <span class="fw-semibold">Date:</span> {{ event.date.strftime('%d-%m-%Y') }}
          </p>
          <p class="mb-3">
            <span class="fw-semibold">Duration:</span> {{ event.startTime.strftime('%H:%M') }} to {{ event.endTime.strftime('%H:%M') }}
          </p>
          <p class="mb-3">
            <span class="fw-semibold">Price:</span> Starting at ${{ event.price }}
          </p>
          <p class="mb-3">
            <span class="fw-semibold">Location:</span> {{ event.address }}
          </p>
          <form action="" method="" class="p-0">
            <div class="form-group">
              <label for="ticketType" class="mb-3">Book Ticket:</label>
              <select class="form-control mb-3" id="ticketType" required>
                <option value="General">General Admission ${{ event.price }}</option>
                <option value="VIP">VIP $150</option>
                <option value="Backstage">Backstage Pass $300</option>
              </select>
              <label for="ticketAmount" class="mb-3">Quantity:</label>
              <select class="form-control mb-3" id="ticketAmount" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
            </div>
            <button type="submit" class="booking-btn">Book</button>
          </form>
        </div>
      </div>

      <hr />

      <!-- bootstrap grid usage -->
      <div class="row">
        <div class="col-md-12">
          <h3 class="mb-4 fs-3 fw-semibold">Refund Policy</h3>
          <p class="lh-base">
            Refunds will be granted only in the event of cancellation or rescheduling of the festival. If the festival is canceled or rescheduled, we will notify you of the options available for refund or transfer. Refunds may be provided on a pro-rata basis, considering the number of days remaining until the festival and the costs already incurred.
          </p>
        </div>

        <hr />

        <!-- bootstrap grid usage -->
        <div class="row">
          <div class="col-md-12">
            <h3 class="mb-4 fs-3 fw-semibold">Comments</h3>
            <!-- <form action="" method="" class="p-0"> -->
              <div class="form-group">
                <div>
                  
                  <!-- <img src="./img/anoncat.jpeg" class="mr-3 mb-2 rounded-circle" alt="Your User Image" title="Your User Image" height="64" width="64" /> -->
                  <h5 class="mt-0 fs-5 fw-medium mb-4">
                    <!-- Anonymous Cat -->
                    
                    <small class="small-text">(Log in to comment as yourself!)</small>
                  </h5>
                </div>
                {{wtf.render_form(form,"/events/{0}/comment".format(event.id))}}
                {% for cmt in event.comments %}
              
                <!-- <label for="comment" class="fw-normal">Leave a Comment:</label> -->
                <!-- <textarea class="form-control bg-gray-600" id="comment" rows="3"></textarea> -->
              </div>
              {{ form.submit(class="btn") }}
            <!-- </form> -->
            <hr />
            <div class="media bg-dark-subtle p-4 rounded">
              
              
              <!-- <img src="./img/anonpanda.jpeg" class="mr-3 mb-2 rounded-circle" alt="User Image" title="User Image" height="64" width="64" /> -->
              <div class="media-body">
                <h5 class="mt-0 fs-5 fw-medium mb-4">{{cmt.user.name}}</h5>
                <p class="mb-4">{{cmt.text}}</p>
                <small class="date-text">{{cmt.getNiceTime()}}</small>
                
              </div>
              {% endfor %} 
              
            </div>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
